@import '../../../style/App.css';
.contact-social {
	width: 100%;
	margin: 60px 0 10px 0;
	transition: 0.1s ease;
	cursor: pointer;
}
.contact-social:hover {
	filter: invert(77%) sepia(99%) saturate(652%) hue-rotate(354deg)
	brightness(98%) contrast(111%);
}
@media screen and (max-width: 990px) {
	.contact-social {
		text-align: center;
		width: 100%;
	}
	.contact-social img {
		margin: 0 auto;
	}
}
