.gallery-wrapper {
    margin-bottom:30px;
}
.gallery-wrapper .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
@media screen and (min-width: 768px){
    .gallery-wrapper .tabs {
        flex-wrap: nowrap;
        margin-top: 0px;
    }
}

.gallery-wrapper .tabitem {
    border: 3px solid var(--main-color);
    cursor: pointer;
    height: 50px;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery-wrapper .tabitem.tabitem-inactive {
    opacity: 0.3;
    filter: grayscale(100%);
    border: 1px solid var(--black-color);
}

.gallery-wrapper .tabitem-title {
    color: var(--white-color);
    font-size: 16px;
}
.gallery-wrapper .tab-content {
    padding: 0 12px;
}
.gallery-wrapper .masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -30px; */
  /* gutter size offset */
  width: auto;
  gap: 12px;
}

.gallery-wrapper .image-item {
  position: relative;
  max-width: 370px;
  margin: 15px auto;
  cursor: pointer;
}
.gallery-wrapper .image-item img {
  width: 100%;
  height: auto;
}
.gallery-wrapper .year-section{
    display: block;
}
.gallery-wrapper .year-section h2 {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0 0;
}